.popup__button-escape{
  position: absolute;
  top: -42px;
  right: -46px;
  background: none;
  border: none;
  outline: none;
}

.popup__button-escape:hover{
  opacity: .6;
  transition: opacity 1s linear;
}

@media screen and (max-width: 452px){
  .popup__button-escape{
    top: -50px;
    right: -19px;
  }
}