.header__logo{
  width: 142.01px;
  height: 33.4px;
  margin: 46px 0 36px;
}

@media screen and (max-width: 320px){
  .header__logo{
    width: 103.74px;
    height: 24.4px;
    margin: 29px 0 27px;
  }
}