.elements{
  min-height: 60vh;
  width: 69.9%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px; 
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  flex-wrap: wrap;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 21px;
}
@media screen and (min-width: 320px) and (max-width: 1260px){
  .elements{
    width: 90%;
  }
}

@media screen and (max-width: 320px){
  .elements{
    width: 87.9%;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 19px;
  }
}