.profile__button-rename{
  background: none;
  border: none;
  height: 26px;
  margin: 9px 0 0 12px;
  padding: 0;
  align-self: center;
  outline: none;
}

.profile__button-rename:hover{
  opacity: .6;
  cursor: pointer;
  transition: opacity 1s linear;
}